{% extends "base.html" %}
{% block page_specific_css %}
<link href="/static/css/recherche_comptes.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1>Recherche de comptes</h1>
    {% include "informations_utilisateur.html" %}
{% endblock %}
{% block main %}
<div id="filtre">
    <form method="POST" action=" {{ url_for('appliquer_filtres') }}" class="filtre_barre">
        <div class="research_bar">
          <input type="text" name="search_bar" id="name" value="{{searchNom}}" placeholder="Recherche par noms de comptes"/>
        </div>
        <div class="loop_research">
            <input type="image" src="/static/img/loupe.png" alt="Submit"/>
        </div>
        <div class="grades">
            <select name="grades" id="grades-select">
                <option value="{{selectGrade}}" hidden="hidden">{{ selectGrade }} </option>
                {% if selectGrade != "Choisir un grade" %}
                    <option value="Tous les grades">Tous les grades</option>
                {% endif %}
                {% for x in grades %}
                    <option value="{{x.nomGrade}}">{{x.nomGrade}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="casernes">
            <select name="casernes" id="casernes-select">
                <option value="{{selectCaserne}}" hidden="hidden">{{ selectCaserne }}</option>
                {% if selectCaserne != "Choisir une caserne" %}
                    <option value="Toutes les casernes">Toutes les casernes</option>
                {% endif %}
                {% for x in casernes %}
                    <option value="{{x.nomCaserne}}">{{x.nomCaserne}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="bouton_add_account">
            <input type="submit" name="appliquer" class="bouton_filtre" value="Appliquer les filtres"/>
            <input type="submit" name="reset" class="bouton_filtre" value="Réinitialiser les filtres"/>
            <a href="{{ url_for ('ajoute_compte')}}"><input type="button" value="Ajouter un compte"/></a>
        </div>
    </form>
</div>
<div>
    <a href="{{ url_for ('home_admin') }}"><input class="retourHome" type="button" value="< Retour à l'accueil"/></a>
</div>


<div> 
    <ul class="resultat">
        <li class="compte">
            {% set nbrUsers = namespace(count=0) %}
            {% for user in users %}
                {% if searchNom == "" or searchNom.lower() in user.nomUtilisateur.lower() or searchNom.lower() in user.prenomUtilisateur.lower() %}
                    {% set gradeUser = [] %}
                    {% set caserneUser = [] %}
                    {% for grade in grades %}
                        {% if grade.idGrade == user.idGrade %}
                            {% set _ = gradeUser.append(grade.nomGrade) %}
                        {% endif %}
                    {% endfor %}
                    {% for caserne in casernes %}
                        {% if caserne.idCas == user.idCas %}
                            {% set _ = caserneUser.append(caserne.nomCaserne) %}
                        {% endif %}
                    {% endfor %}
                    {% if selectGrade == gradeUser[0] or selectGrade == "Choisir un grade" %}
                        {% if selectCaserne == caserneUser[0] or selectCaserne == "Choisir une caserne" %}
                            {% set nbrUsers.count = nbrUsers.count + 1 %}
                            <ul class="in_ligne">
                                
                                <a href="{{ url_for('modifier_compte', id= user.idUtilisateur) }}"><input type="image" class="ImgCompte" src="/static/img/compteIco.png"></a>
                                <li class="nomCompte"><a href="{{ url_for('modifier_compte', id= user.idUtilisateur) }}">{{ user.nomUtilisateur.upper() }} {{ user.prenomUtilisateur }}</a></li>
                                <li class="gradeCompte">{{ gradeUser[0] }}</li>
                                <li class="caserneCompte">{{ caserneUser[0] }}</li>
                                {% if user.idUtilisateur != current_user.idUtilisateur : %}
                                    <a href="{{ url_for('modifier_compte', id= user.idUtilisateur) }}" ><input class="buttonCompte" type="image" src="/static/img/modificationIco.png" alt="ModifierCompte"/></a>
                                    <a onclick="togglePopup({{ user.idUtilisateur }});"><input class="buttonCompte" type="image" src="/static/img/poubelleIco.png" alt="supprimerComptes"/></a>
                                {% else %}
                                    <a href="{{ url_for('modifier_compte', id= user.idUtilisateur) }}" ><input class="buttonCompte2" type="image" src="/static/img/modificationIco.png" alt="ModifierCompte"/></a>
                                {% endif %}

                                <div id="{{user.idUtilisateur}}" class="popup-overlay">
                                    <div class="popup-content">
                                        <div>
                                            <h2>Confirmez-vous la suppression ?</h2>
                                        </div>
                                        <div>
                                            <a onclick="togglePopup({{ user.idUtilisateur }});"><input id="annuler-suppression" type="button" value="❌ Annuler" alt="AnnulerSuppression"/></a>
                                            <a href="{{ url_for('supprimer_compte', id= user.idUtilisateur) }}"><input id="valider-suppression" type="button" value="🗑 Confirmer" alt="ValiderSuppression"/></a>
                                        </div>
                                    </div>
                                </div>
                            </ul>

                        {% endif %} 
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if nbrUsers.count == 0 %}
                <img class="aucun_compte" alt="Aucun compte ne correspond à votre recherche" src="/static/img/pasDeCompte.png"/>
                <p class="aucun_compte_texte">Aucun compte ne correspond à votre recherche</p>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}