body{
    margin: 0px;
    overflow: hidden;
}

main{
    background-color: #F24343;
    height: 100vh;
}


input{
    max-height: 40wh;
}

/* Responsive des boutons */
@media screen and (min-width: 1251px) {
    main input{
        border: black thin solid;
        margin-top: 7vh;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px;
        font-size: 3.5vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        width: 40vw;
        min-height: 115px;
        min-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1250px) {
    main input{
        border: black thin solid;
        margin-top: 7vh;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        width: 70vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-height: 700px) {
    main input{
        border: black thin solid;
        padding: 1px;
        font-size: 3.5vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
    }

    body{
        overflow: auto;
    }
}

/* Fin responsive des boutons */