body{
    margin: 0px;
    overflow: hidden; /*Désactive la possibilité de scroll*/
}

main{
    background-color: #F24343;
    height: 100vh;
}

.boutons{
    height: 50%;
}


@media screen and (min-width: 1251px) {
    input{
        border: black thin solid;
        margin-top: 7vh;
        margin-bottom: 7vh;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px;
        font-size: 2vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        width: 40vw;
        max-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1250px) {
    input{
        border: black thin solid;
        margin-top: 7vh;
        margin-bottom: 7vh;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        width: 70vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}