body{
    margin: 0px;
    overflow: hidden; /*Désactive la possibilité de scroll*/
}

main{
    background-color: #F24343;
    height: 100vh;
}

.boutons{
    height: 50%;
}

input{
    border: black thin solid;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    width: 25vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1000px) {
    input{
        border: black thin solid;
        margin-top: 7vh;
        margin-bottom: 7vh;
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        width: 70vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}