main {
    background-color: #F24343;
    justify-content: space-around;
    padding: 1vw;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line > div {
    width: 45%;
}

.line > div > input, select{
    width: 100%;
    border-radius: 10px;
}

.chef{
    width: 100%;
    border-radius: 10px;
}

.line p {
    padding: 1vw;
    padding-left: 0px;
    font-size: 2vw;
}

form fieldset div {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

fieldset input{
    height: 1.5vw;
}


.fieldset-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3vh;
}

main > input, select {
    border: black thin solid;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


input.bouton {
    width: auto;
    padding: 1vw 2vw;
    margin-left: 25vw;
    border-radius: 10px;
}

input.bouton:last-child {
    margin-left: 50%;
}
