main{
    background-color: #F24343;
}

div{
    display: flex;
    flex-wrap: nowrap;
    padding: 1vw;
}

p{
    padding: 1vw;
}

input{
    border: black thin solid;
    border-radius: 10px;
    /* margin: 2vw;
    padding: 10px; */
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; 
}