body{
    background-color: #F24343;
}

main h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
}

main p{
    color: white;
    font-size: 2rem;
}

.en-tete{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.en-tete > input{
    font-size: 2rem;
    flex-basis: 60%;
}

.central{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
}

.central > section{
    padding: 2vw;
}

.type *, .tags-manuels *{
    align-items: center;
    margin-top: 1vh;
    margin-right: 5em;
}

.type{
    display: flex;
    flex-wrap: nowrap;
}

.type select{
    margin-top: 1vw;
    height: 100%;
    width: 100%;
    margin-right: 0;
}

.tags-manuels select{
    width: 30%;
}

.boutons-bas{
    text-align:center;
}

.bouton-importer{
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 1vw;
    border: none;
    cursor: pointer;
    background-color: lightgray;
    transition: 0.3s;
}

.bouton-importer:hover{
    background-color: gray;
    color: white;
}

#niveau-select{
    margin-top: 1em;
}

#file-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30vw;
}
.tags{
    width: 30vw;
}

.boutons-bas > input{
    width: auto;
    padding: 0.6vw 3vw;
    margin-right: 10vw;
}

.boutons-bas > a{
    padding: 0;
    margin: 0;
}

#annuler{
    font-size: xx-large;
    color: white;
    background-color: #954D4D;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
}

#valider{
    font-size: xx-large;
    color: white;
    background-color: #84B546;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
}