
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.en-tete {
    background-color: #b22222;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.en-tete h2 {
    font-size: 24px;
}

.central {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.central section {
    margin-bottom: 20px;
}

.central .type {
    margin-top: 20px;
}

.central .type select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#importer {
    display: none;
}

.bouton-importer {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b22222;
    color: white;
    cursor: pointer;
}

#file-label {
    margin-top: 10px;
    font-size: 16px;
}

.tags {
    margin-top: 20px;
}

.tags input[type="submit"] {
    margin-right: 10px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.tags-manuels {
    margin-top: 20px;
}

#allTags {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boutons-bas {
    margin-top: 20px;
    text-align: left;
}

.boutons-bas input[type="submit"], .boutons-bas a {
    padding: 10px 20px;
    background-color: #b22222;
    color: white;
    text-decoration: none;
    cursor: pointer;
}