body{
    background-color: #F24343;
}

h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
}

p{
    color: white;
    font-size: 2rem;
}

.en-tete{
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: aquamarine;
}
.en-tete > input{
    font-size: 2rem;
    flex-basis: 60%;
}

.central{
    background-color: blueviolet;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
}

.central > section{
    padding: 1vw;
}

.type *, .tags-manuels *{
    align-items: center;
    margin-top: 1vh;
    margin-right: 5em;
}

.type{
    display: flex;
    flex-wrap: nowrap;
}

.boutons-bas{
    background-color: brown;
    text-align:center;
}


.boutons-bas > input{
    border-radius: 5%;
    font-size: 1.5em;
    width: auto;
    padding: 0.6vw 3vw;
    margin-right: 10vw;
}

.boutons-bas > input:last-child{
    margin-right: 0;
}