{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="../static/css/accueil_admin.css"/>
{% endblock %}
{% block header %}
    <h1>Accueil administrateur</h1>
    {% include "informations_utilisateur.html" %}
{% endblock %}
{% block main %}
<div class="boutons">
    <a href="{{ url_for ('recherche_comptes') }}"><input type="button" value="Gérer les comptes"/></a>
    <input type="Submit" value="Gérer les documents"/>
    <input type="Submit" value="Gérer les catégories"/>
</div>
{% endblock %}
