{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="../static/css/ajout_compte.css"/>
{% endblock %} 
{% block main %}
    <div>
        <p>Nom</p>
        <input type="text" name="coucou tout le monde" required>
        <p>Prénom</p>
        <input type="text" name="coucou tout le monde" required>
    </div>
    <div>
        <p>Nom d'utilisateur</p>
        <input type="text" name="coucou tout le monde" required>
        <p>Mot de passe</p>
        <input type="password" name="coucou tout le monde" placeholder="Nom" required>
    </div>
    <div>
        <p>Grade</p>
        <select name="grades" id="grades-select">
            <option selected="selected" hidden="hidden">Choisir un grade</option>
            {% for x in tags %} 
                <option value="">{{x.nomGrade}}</option>
            {% endfor %}
        </select>
        <p>Chef de caserne ?</p>
    </div>
{% endblock %}