{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/ajout_compte.css"/>
{% endblock %}
{% block header %}
    <h1>Ajout d'un compte</h1>
    {% include "informations_utilisateur.html" %}
{% endblock %}
{% block main %}
<form role="form" method = "POST" action="{{ url_for('save_compte')}}" >
    {{ form.hidden_tag() }}
    <div class="line">
        <div>
            <p>Nom</p>
            <p>{{ form.nomUser(size=50, class_="form-control") }}</p>
        </div>
        <div>
            <p>Prénom</p>
            <p>{{ form.prenomUser(size=50, class_="form-control") }}</p>
        </div>
    </div>
    <div class="line">
        <div>
            <p>Nom d'utilisateur</p>
            <p>{{ form.pseudo(size=50, class_="form-control") }}</p>
        </div>
        <div>
            <p>Mot de passe</p>
            <p>{{ form.mdp(size=50, class_="form-control") }}</p>
        </div>
    </div>
    <div class="line">
        <div>
            <p>Grade</p>
            {{ form.id_grade(class="form-control") }}
            <br>
        </div>
        <div>
            <p>Caserne</p>
            {{ form.id_caserne(class="form-control") }}
        </div>
    </div>
    <div>
        <p>{{ form.id_role.label }}</p>
        {{ form.id_role }}
    </div>
    {% if erreur %}
        <div class="alert alert-danger" role="alert">
            {{ erreur }}
        </div>
    {% endif %}
    
    <div class="line button-container">
        <a href="{{ url_for('recherche_comptes') }}"><input type="button" id="annuler" class="bouton" value="Retour"/></a>
        <input type="submit" value="Ajouter le compte" id="valider" class="bouton" />
    </div>
</form>
{% endblock %}