{% extends "base.html" %}

{% block page_specific_css %}
    <link rel="stylesheet" href="static/css/ajouter_document.css">
{% endblock %}

{% block main %}

<div class="en-tete">
    <h2>Titre du document :</h2>
    <input type="text" name="titre" placeholder="Titre" required>
</div>

<div class="central">
    <section>
        <div>
            <p>Description :</p>
            <textarea rows="6" cols="60" placeholder="Entrez la description du document"></textarea>
        </div>
        <div class="type">
            <p>Type</p>
            <select name="types" id="types-select">
                <option selected="selected" hidden="hidden">Type</option>
                {% for x in types %} 
                    <option value="">{{x.nomType}}</option>
                {% endfor %}
            </select>
        </div>
    </section>

    <section>
        <input type="submit" value="Importer document" id="importer">
        <div>
            <p>Tags associés</p>
            <p>==== tags associés au fichier importé ====</p>
        </div>
        <div class="tags-manuels">
            <p>Tags manuels :</p>
            <select name="tags" id="tags-select">
                <option selected="selected" hidden="hidden">Tags</option>
                {% for x in tags %} 
                    <option value="">{{x.nomTag}}</option>
                {% endfor %}
            </select>
            <input type="text" name="tag-manuel">
        </div>
    </section>
</div>

<div class="boutons-bas">
    <input type="submit" value="Annuler" id="annuler">
    <input type="submit" value="Enregistrer" id="ajouter-document">
</div>

{% endblock %}