{% block page_specific_css %}
    <link rel="stylesheet" href="../static/css/gerer_tags.css"/>
{% endblock %}
{% block main %}
<body>
    <div class="animation">
        <div class="one spin-one"></div>
        <div class="two spin-two"></div>
        <div class="three spin-one"></div>
    </div>
    <h2 class="uppercase">Cette page est actuellement en maintenance</h2>
    <h3 class="uppercase">Veuillez nous excuser pour la gêne occasionnée</h3>
    <a href="{{ url_for('home_admin') }}"><input type="button" value="Retour à l'accueil"/></a>
</body>
{% endblock %}