{% extends "base.html" %}
{% block page_specific_css %}
<link href="/static/css/recherche_comptes.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div id="filtre">
    <form method="POST" action=" {{ url_for('appliquer_filtres') }}" class="filtre_barre">
        <div class="research_bar">
          <input type="text" name="search_bar" id="name" value="{{searchNom}}" placeholder="Recherche par noms de comptes"/>
        </div>
        <div class="loop_research">
            <input type="image" src="/static/img/loupe.png" alt="Submit"/>
        </div>
        <div class="grades">
            <select name="grades" id="grades-select">
                <option value="{{selectGrade}}" hidden="hidden">{{ selectGrade }} </option>
                {% for x in grades %}
                    <option value="{{x.nomGrade}}">{{x.nomGrade}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="casernes">
            <select name="casernes" id="casernes-select">
                <option value="{{selectCaserne}}" hidden="hidden">{{ selectCaserne }}</option>
                {% for x in casernes %}
                    <option value="{{x.nomCaserne}}">{{x.nomCaserne}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="bouton_add_account">
            <input type="submit" name="appliquer" class="bouton_filtre" value="Appliquer les filtres"/>
            <input type="submit" name="reset" class="bouton_filtre" value="Réinitialiser les filtres"/>
            <input type="Submit" value="Ajouter un compte"/>
        </div>
    </form>
</div>
<div> 
    <ul class="resultat">
        <li class="compte">
            <ul class="in_ligne">
                {% for user in users %}
                    {% if searchNom == "" or searchNom.lower() in user.nomUtilisateur.lower() or searchNom.lower() in user.prenomUtilisateur.lower() %}
                        {% set gradeUser = [] %}
                        {% set caserneUser = [] %}
                        {% for grade in grades %}
                            {% if grade.idGrade == user.idGrade %}
                                {% set _ = gradeUser.append(grade.nomGrade) %}
                            {% endif %}
                        {% endfor %}
                        {% for caserne in casernes %}
                            {% if caserne.idCas == user.idCas %}
                                {% set _ = caserneUser.append(caserne.nomCaserne) %}
                            {% endif %}
                        {% endfor %}
                        {% if selectGrade == gradeUser[0] or selectGrade == "Choisir un grade" %}
                            {% if selectCaserne == caserneUser[0] or selectCaserne == "Choisir une caserne" %}
                                <a href=modifierCompte><input type="image" class="ImgCompte" src="/static/img/compteIco.png"></a>
                                <li class="nomCompte"><a href=modifierCompte>{{ user.nomUtilisateur }} {{ user.prenomUtilisateur }}</a></li>
                                <li class="gradeCompte">{{ gradeUser[0] }}</li>
                                <li class="caserneCompte">{{ caserneUser[0] }}</li>
                                <a href=modifierCompte><input class="buttonCompte" type="image" src="/static/img/modificationIco.png" alt="ModifierCompte"/></a>
                                <a href=supprimerCompte><input class="buttonCompte" type="image" src="/static/img/poubelleIco.png" alt="SupprimerCompte"/></a>
                            {% endif %} 
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endblock %}