{% extends "base.html" %}
{% block page_specific_css %}
<link href="/static/css/recherche_doc_admin.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1>Gestion des documents</h1>
    {% include "informations_utilisateur.html" %}
{% endblock %}
{% block main %}
<div id="filtre">
    <form action="{{ url_for ('ajouter_filtre_doc_admin') }}" method="POST" class="filtre_barre">
        <div class="research_bar">
          <input type="text" value="{{ search }}" name="barre_recherche" placeholder="Rechercher un document !" id="barre_recherche"/>
        </div>
        <div class="loop_research">
            <input type="image" src="/static/img/loupe.png" alt="Submit"/>
        </div>
        <div class="tags">
            <select name="tags" id="tags-select">
                <option selected="selected" hidden="hidden">Choisir un tag</option>
                {% for x in tags %} 
                    <option value="{{x.nomTag}}" type ="submit">{{x.nomTag}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="types">
            <select name="types" id="type-select">
                <option selected="selected" hidden="hidden">{{ selectType }}</option>
                {% if selectType != "Choisir un type" %}
                    <option value="Tous les types">Tous les types</option>
                {% endif %}
                {% for x in types %} 
                    <option value="{{x.nomType}}" type ="submit">{{x.nomType}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="active_tag">
            {% for x in active_tags %}
                <input style="background-color:#{{x.couleurTag}}" name="retirer_filtre" type="Submit" value="{{x.nomTag}}"/>
            {% endfor %}
        </div>
        <div class="bouton_reset">
            <input name="reset" type="Submit" value="Réinitialiser les filtres"/> 
            <a href="{{ url_for ('ajoute_document')}}"><input type="button" value="Ajouter un document"/></a>
            <a href="{{ url_for ('importer_repertoire')}}"><input type="button" value="Importer un répertoire"/></a>
        </div>
    </form>
</div>
<div>
    <a href="{{ url_for ('home_admin') }}"><input class="retourHome" type="button" value="< Retour à l'accueil"/></a>
</div>
<div id="content">
    {% if not has_result %}
        <p id="no_result">Veuillez entrer des paramètres</p>
    {% else %}
        <ul class="resultat">
            <li class="doc">
                {% for elem in result %}
                    {% if elem.nomType == selectType or selectType == "Choisir un type"%}
                        {% for doc in elem.element %}
                            <ul class="in_ligne">
                                <a href="{{ url_for('modifier_document', id= doc.idDoc) }}"><input type="image" class="ImgDoc" src="/static/img/documentIco.png"></a>
                                <li class="nomDoc"><a href="{{ url_for('modifier_document', id= doc.idDoc) }}">{{ doc.nomDoc }}</a></li>
                                <li class="typeDoc">{{ elem.nomType }}</li>
                                <a href="{{ url_for('modifier_document', id= doc.idDoc) }}"><input class="buttonCompte" type="image" src="/static/img/modificationIco.png" alt="ModifierCompte"/></a>
                                <a onclick="togglePopup({{ doc.idDoc }});"><input class="buttonCompte" type="image" src="/static/img/poubelleIco.png" alt="SupprimerCompte"/></a>
                                <div id="{{doc.idDoc}}" class="popup-overlay">
                                    <div class="popup-content">
                                        <div>
                                            <h2>Confirmez-vous la suppression ?</h2>
                                        </div>
                                        <div>
                                            <a onclick="togglePopup({{ doc.idDoc }});"><input id="annuler-suppression" type="button" value="❌ Annuler" alt="AnnulerSuppression"/></a>
                                            <a href="{{ url_for('supprimer_document', id= doc.idDoc) }}"><input id="valider-suppression" type="button" value="🗑 Confirmer" alt="ValiderSuppression"/></a>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}