<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link href="./static/recherche_doc.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="boutons">
                <input type="Submit" value="Gérer les comptes"/>
            </div>
            <div class="boutons">
                <input type="Submit" value="Gérer les documents" />
            </div>
            <div class="boutons">
                <input type="Submit" value="Gérer les catégories" />
            </div>
        </main>
    </body>
</html>
